apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "nodeobservability.olm.openshift.io/v1alpha1",
          "kind": "NodeObservability",
          "metadata": {
            "name": "nodeobservability-sample"
          },
          "spec": {
            "expectedcount": 1,
            "image": "quay.io/prometheus/busybox",
            "labels": {
              "app": "node-observability"
            }
          }
        },
        {
          "apiVersion": "nodeobservability.olm.openshift.io/v1alpha1",
          "kind": "NodeObservabilityMachineConfig",
          "metadata": {
            "name": "sample"
          },
          "spec": {
            "enableCrioProfiling": true,
            "enableKubeletProfiling": true
          }
        },
        {
          "apiVersion": "nodeobservability.olm.openshift.io/v1alpha1",
          "kind": "NodeObservabilityRun",
          "metadata": {
            "name": "nodeobservabilityrun-sample"
          },
          "spec": null
        }
      ]
    capabilities: Basic Install
    operators.operatorframework.io/builder: operator-sdk-v1.18.0+git
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
  name: node-observability-operator.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: NodeObservability is the Schema for the nodeobservabilities API
      displayName: Node Observability
      kind: NodeObservability
      name: nodeobservabilities.nodeobservability.olm.openshift.io
      version: v1alpha1
    - description: NodeObservabilityMachineConfig is the Schema for the nodeobservabilitymachineconfigs
        API
      displayName: Node Observability Machine Config
      kind: NodeObservabilityMachineConfig
      name: nodeobservabilitymachineconfigs.nodeobservability.olm.openshift.io
      version: v1alpha1
    - description: NodeObservabilityRun is the Schema for the nodeobservabilityruns
        API
      displayName: Node Observability Run
      kind: NodeObservabilityRun
      name: nodeobservabilityruns.nodeobservability.olm.openshift.io
      version: v1alpha1
  description: An Operator that will be able to gather debugging/profiling data over
    a custom period of time which would be helpful to troubleshoot and resolve issues
    for OpenShift customers.
  displayName: Node Observability Operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - nonResourceURLs:
          - /debug/*
          verbs:
          - get
        - apiGroups:
          - ""
          resources:
          - endpoints
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - nodes
          verbs:
          - get
          - list
        - apiGroups:
          - ""
          resources:
          - nodes/proxy
          verbs:
          - get
          - list
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - serviceaccounts
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - machineconfiguration.openshift.io
          resources:
          - kubeletconfigs
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - machineconfiguration.openshift.io
          resources:
          - machineconfigpools
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - machineconfiguration.openshift.io
          resources:
          - machineconfigs
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - nodeobservability.olm.openshift.io
          resources:
          - nodeobservabilities
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - nodeobservability.olm.openshift.io
          resources:
          - nodeobservabilities/finalizers
          verbs:
          - update
        - apiGroups:
          - nodeobservability.olm.openshift.io
          resources:
          - nodeobservabilities/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - nodeobservability.olm.openshift.io
          resources:
          - nodeobservabilitymachineconfigs
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - nodeobservability.olm.openshift.io
          resources:
          - nodeobservabilitymachineconfigs/finalizers
          verbs:
          - update
        - apiGroups:
          - nodeobservability.olm.openshift.io
          resources:
          - nodeobservabilitymachineconfigs/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - nodeobservability.olm.openshift.io
          resources:
          - nodeobservabilityruns
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - nodeobservability.olm.openshift.io
          resources:
          - nodeobservabilityruns/finalizers
          verbs:
          - update
        - apiGroups:
          - nodeobservability.olm.openshift.io
          resources:
          - nodeobservabilityruns/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterrolebindings
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterroles
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - security.openshift.io
          resources:
          - securitycontextconstraints
          verbs:
          - create
          - delete
          - get
          - list
          - use
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: node-observability-operator-controller-manager
      deployments:
        name: node-observability-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=10
                image: gcr.io/kubebuilder/kube-rbac-proxy:v0.8.0
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                  protocol: TCP
                resources: {}
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /manager
                image: quay.io/openshift/node-observability-operator:v0.0.1
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 10m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
              securityContext:
                runAsNonRoot: true
              serviceAccountName: node-observability-operator-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        - apiGroups:
          - apps
          resources:
          - daemonsets
          verbs:
          - create
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - services
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - rolebindings
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - roles
          verbs:
          - create
          - delete
          - get
          - list
          - watch
        serviceAccountName: node-observability-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - node-observability-operator
  links:
  - name: Source Code
    url: https://github.com/openshift/node-observability-operator
  maturity: alpha
  provider:
    name: Red Hat, Inc.
  version: 0.0.1
